{% extends "support/_layouts/settings" %}

{% import "support/_macros/settings" as macros %}

{% block content %}

  <h2 class="first">Ticket Statuses</h2>

  <p>Define the ticket statuses that can be set.</p>

  <table id="ticket-statuses" class="data fullwidth collapsible">
    <thead>
      <tr>
        <th>Name</th>
        <th>Handle</th>
        <th>Default Status?</th>
        <td class="thin"></td>
        <td class="thin"></td>
      </tr>
    </thead>

    <tbody>
      {% for status in ticketStatuses %}
        <tr data-id="{{ status.id }}" data-name="{{ status.handle }}">
          <th data-title="Name">
            <a href="">
              <span class="status {{ status.colour }}"></span>
              {{ status.name }}
            </a>
          </th>
          <td class="code" data-title="Handle">
            {{ status.handle }}
          </td>
          <td>
            {% if status.default %}
              <span data-icon="check" title="Yes"></span>
            {% endif %}
          </td>
          <td class="thin">
            <a class="move icon" title="Reorder" role="button"></a>
          </td>
          <td class="thin">
            <a class="delete icon" title="Delete" role="button"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="buttons">
    <a class="btn submit icon add" href="{{ cpUrl('support/settings/order-statuses/new') }}">New ticket status</a>
  </buttons>

{% endblock %}


{% js %}
    new Craft.AdminTable({
    tableSelector: '#ticket-statuses',
    deleteAction: 'support/ticket-statuses/delete',
    deleteSuccessMessage: 'Ticket status deleted.',
    deleteFailMessage: 'Couldn’t delete ticket status.',
    minObjects: 1,
    sortable: true,
    reorderAction: 'support/ticket-statuses/reorder',
    reorderSuccessMessage: 'Ticket statuses reordered.' ,
    reorderFailMessage:    'Couldn’t reorder ticket statuses.',
    });
{% endjs %}
