{% extends "support/_layouts/settings" %}

{% block content %}

  <h2 class="first">Ticket Priorites</h2>

  <p>Define the ticket priorities that can be set.</p>

  <table id="ticket-priorities" class="data fullwidth collapsible">
    <thead>
      <tr>
        <th>Name</th>
        <th>Handle</th>
        <th>Default</th>
        <td class="thin"></td>
        <td class="thin"></td>
      </tr>
    </thead>

    <tbody>
      {% for status in ticketPriorities %}
        <tr data-id="{{ status.id }}" data-name="{{ status.handle }}">
          <th data-title="Name">
            {{ status.labelHtml|raw }}
          </th>
          <td class="code" data-title="Handle">
            {{ status.handle }}
          </td>
          <td>
            {% if status.default %}
              <span data-icon="check" title="Yes"></span>
            {% endif %}
          </td>
          <td class="thin">
            <a class="move icon" title="Reorder" role="button"></a>
          </td>
          <td class="thin">
            <a class="delete icon" title="Delete" role="button"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="buttons">
    <a class="btn submit icon add" href="{{ cpUrl('support/settings/ticket-priorities/new') }}">New ticket priority</a>
  </buttons>

{% endblock %}

{% js %}
    new Craft.AdminTable({
    tableSelector: '#ticket-priorities',
    deleteAction: 'support/ticket-priorities/delete',
    deleteSuccessMessage: 'Ticket status deleted.',
    deleteFailMessage: 'Couldn’t delete ticket status.',
    minObjects: 1,
    sortable: true,
    reorderAction: 'support/ticket-priorities/reorder',
    reorderSuccessMessage: 'Ticket priorities reordered.' ,
    reorderFailMessage:    'Couldn’t reorder ticket priorities.',
    });
{% endjs %}
