{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Support plugin for Craft CMS 3.x
 *
 * Support index.twig
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   Support
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "Create a new ticket" %}
{% set fullPageForm = true %}

{% do view.registerAssetBundle("craft\\web\\assets\\fileupload\\FileUploadAsset") %}

{% block content %}
	{{ forms.hidden({
    	 name: 'action',
    	value: 'support/tickets/create',
  	})}}

	{{ redirectInput('support/tickets') }}

	{{ forms.textField({
		first:       true,
		required:    true,
		label:       'Title',
		id:          'title',
		name:        'title',
		placeholder: 'Title',
		autofocus:   true,
	})}}

	{{ forms.textareaField({
		required:    true,
		label:       'Message',
		id:          'message',
		name:        'message',
		placeholder: 'Message',
		rows:        8,
	})}}

	{# {% set priorityOptions = [{'value': null, 'label': 'Please Select'}] %}
	{% for priority in ticketPriorities %}
		{% set priorityOptions = priorityOptions|merge([{'value': priority.id, 'label': priority.name}]) %}
	{% endfor %} #}

	{# {{ forms.selectField({
		required:    true,
		label:   'Ticket priority',
		id:      'ticketPriorityId',
		name:    'ticketPriorityId',
		options: priorityOptions,
	})}} #}

	<div class="field" id="ticketPriorityId-field">
		<div class="heading">
			<label id="ticketPriorityId-label" class="required" for="ticketPriorityId">Ticket priority</label>
		</div>
        <div class="input ltr">
            <input type="hidden" id="ticketPriorityId" name="ticketPriorityId" value="" />
			<a class="btn menubtn" id="ticketPriority" href="#">Please Select</a>
			<div class="menu">
				<ul class="padded">
				{% for priority in ticketPriorities %}
					<li><a data-id="{{ priority.id }}" data-color="{{ priority.colour }}" data-name="{{ priority.name }}" class=""><span class="status {{ priority.colour }}"></span> {{ priority.name }}</a></li>
					{% endfor %}
				</ul>
			<div>
    	</div>
	</div>

{% js %}
	var $ticketPriority = $('#ticketPriority');
if ($ticketPriority[0]) {
	new Garnish.MenuBtn($ticketPriority, {
		onOptionSelect: function(option) {
			$('#ticketPriorityId').val($(option).data('id'))
			$ticketPriority.html('<span class="status ' + $(option).data('color') + '"></span> ' + $(option).data('name'));
		}
	});
}
{% endjs %}

  {% if settings.attachments and volume %}
    {% include "_components/fieldtypes/Assets/input" with {
        id:                   'attachments',
        fieldId:              'attachments',
        name:                 'attachments',
        selectionLabel:       'Attachment',
        elementType:          elementType,
        sourceElementId:      volume.id,
        viewMode:             'list',
        limit:                4,
        defaultFieldLayoutId: volume.fieldLayoutId,
        hideSidebar:          true,
    } %}
  {% endif %}
{% endblock %}
