{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Support plugin for Craft CMS 3.x
 *
 * Support index.twig
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   Support
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}
{% import "support/_tickets/includes/ticket" as macros %}

{% set title = ticket.title %}

{% set crumbs = [
    { label: 'Tickets', url: cpUrl('support') }
] %}

{% do view.registerAssetBundle("lukeyouell\\support\\assetbundles\\TicketBundle") %}

{% block content %}
<div class="new-message">
  <form method="post">
    {{ csrfInput() }}

    {{ forms.hidden({
        name: 'action',
        value: 'support/messages/new-message',
    })}}

    {{ forms.hidden({
        name: 'ticketId',
        value: ticket.id|hash,
    })}}

    {{ forms.textareaField({
        first: true,
        required: true,
        id: 'message',
        name: 'message',
        placeholder: 'Post a message or upload a file...',
        rows: 4
    })}}

    {% if volume %}
      {% include "_components/fieldtypes/Assets/input" with {
        id: 'attachments',
        fieldId: 'attachments',
        name: 'attachments',
        selectionLabel: 'Attachment',
        elementType: assetElementType,
        sourceElementId: volume.id,
        viewMode: 'list',
        limit: 4,
        defaultFieldLayoutId: volume.fieldLayoutId,
        hideSidebar: true,
      } %}
    {% endif %}

    <input class="btn submit" type="submit" value="Post message">
  </form>
</div>

<div class="messages">
  {% for message in messages %}
    {{ macros.message(message) }}
  {% endfor %}
</div>
{% endblock %}

{% block details %}
  <div class="meta read-only">
    <div class="data">
      <div class="heading">
        Ticket ID
      </div>
      <div class="value">
        #{{ ticket.id }}
      </div>
    </div>

    <div class="data">
      <div class="heading">
        Author
      </div>
      <div class="value">
        <a href="{{ cpUrl('users/'~author.id) }}">{{ author.name ?? author.username }}</a>
        <div>
          <code>{{ author.email }}</code>
        </div>
      </div>
    </div>

    <div class="data">
      <div class="heading">
        Created at
      </div>
      <div class="value">
        {{ ticket.dateCreated|datetime('short') }}
      </div>
    </div>

    <div class="data">
      <div class="heading">
        Updated at
      </div>
      <div class="value">
        {{ ticket.dateUpdated|datetime('short') }}
      </div>
    </div>
  </div>
{% endblock %}
