{% macro message(message) %}
  {% import _self as blocks %}

  {% set isUsersMessage = message.authorId == currentUser.id ? true : false %}
  {% set attachments = message.attachmentIds ? craft.assets.id(message.attachmentIds).all() : null %}

  <div class="message-container">
    <div class="message flex">
      {{ blocks.authorPhoto(message.author.getPhoto) }}

      <div class="flex-grow">
        <div class="message-details">
          {{ message.author.name }}
          <span class="light small">{{ message.dateCreated|datetime('short') }}</span>
        </div>

        <div class="message-body">
          {{ message.content|nl2br }}
        </div>

        {% if attachments %}
          <div class="message-attachments">
            {% for attachment in attachments %}
              <div class="message-attachment">
                <a href="{{ attachment.url }}" target="_blank">
                  <span data-icon="download"></span>
                  {{ attachment.filename }}
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro authorPhoto(photo) %}
  <div class="message-photo">
    <div>
      {% if photo %}
        <img src="{{ photo.url}}">
      {% else  %}
        {% include "support/_icons/face.svg" ignore missing %}
      {% endif %}
    </div>
  </div>
{% endmacro %}
