{% macro message(message) %}
  {% set isUsersMessage = message.authorId == currentUser.id ? true : false %}
  {% set attachments = message.attachmentIds ? craft.assets.id(message.attachmentIds).all() : null %}

  <div class="message-container">
    <div class="message flex">
      <div class="message-photo">
        <div>
          <img src="{{ message.author.getThumbUrl(100) }}" alt="{{ message.author.name }}">
        </div>
      </div>

      <div class="flex-grow">
        <div class="message-details">
          {{ message.author.name }}
          <span class="light small">{{ message.dateCreated|datetime('short') }}</span>
        </div>

        <div class="message-body">
          {{ message.content|nl2br }}
        </div>

        {% if attachments %}
          <div class="message-attachments">
            {% for attachment in attachments %}
              <div class="message-attachment">
                <a href="{{ attachment.url }}" target="_blank">
                  <span data-icon="download"></span>
                  {{ attachment.filename }}
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
